a:link, a:hover, a:visited, a:active, a {
	text-decoration:none;
	color:black;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	overflow-x: hidden;
}
.container-portada{
	position: relative;
	background: url('../img/pres.jpg');
	background-size: 150%;
	animation: movimiento 20s infinite linear alternate; 
	color: blue; 
}
.capa-gradient{
	width: 100%;
	height: 100%;
	position: absolute;
	background: -webkit-linear-gradient(left, black, black);
	opacity: 0.5;
}
.container-details{
	padding: 0;
	width: 100%;
	max-width: 1200px;
	position: relative;
	margin: auto;
	top: 50%;
	transform: translateY(-50%);
}


.details{
	width: 100%;
	max-width: 500px;
	position: relative;
	color: white;
	padding: 2%;
}
.details h1{
	font-size: 80px;
	font-weight: 20000 ;
	margin-left: 10px;
	text-transform: uppercase; 
}
.details p{
	margin-top: 10px;
	font-size: 20px;
	font-weight: 100;
	margin-left: 10px;
}

.details button{
	padding: 10px 20px;
	font-size: 16px;
	background: none;
	border-style: none;
	border: 1px solid white;
	color: white;
	margin-top: 20px;
	transition: background 300ms;
	cursor: pointer;
	margin-left: 10px;
}
.details button:hover{
	background: white;
	color: black;
}
.container-details img {
	position: absolute;
	margin-right: 10%;
	width: 20%;
	top: 50%;
	right: 30px;
	transform: translateX(-100%);
	transform: translateY(-50%);
}
#inicio {
	font-family: 'Oswald', sans-serif;
	width: 100%;
	height: 100%;
	position: absolute;
	background: url('../img/back.jpg');
	background-size: cover;
}
#inicio nav {
	margin-top: 2%;
	background: #34495E;
	color: white;
	text-align: right;
	width: 100%;
}
#inicio nav li{
	font-weight: bold;
	text-transform: uppercase;
	list-style-type: none;
	display: inline-block;
	clear: width;
	padding: 20px;
}
#inicio header{
	position: fixed;
	text-transform: uppercase;
	width: 100%;
	text-align: center;		
	background: white;
	z-index: 100;
	border-bottom: 1px #e0e0e0 solid
}
#inicio header #name {
	background: #181818;
	font-size: 150%	;
	padding: 10px;
	color: #a6a2a2;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
}
#inicio header #secondname{
	width: 80%;
	padding: 5px;	
	background: white;		
	text-align: left;
	left: 10%;
	position: relative;
}
#inicio header #secondname img{
	height: 40px;
	position: relative;
	display: inline;
	margin: 5px;
}
#inicio header #secondname #log{
	height: 80px;
}
#inicio header #secondname #sdm{	
	text-align: right;
	width: 80%;
	left: 20%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);	
}
#inicio header #secondname #sdm a {
	font-family: 'Oswald', sans-serif;
	position: relative;
	margin: 3%;	
}
#inicio header #secondname #sdm label {
	font-family: 'Oswald', sans-serif;
	position: relative;
	margin: 3%;	
}
#inicio header #secondname #sdm img{	
	position: relative;
	top: 50%;
}
#inicio #banner {
	background: blue;
	width: 60%;
	left: 20%;
	top: 200px;
	height: 400px;
	padding: 0px;
	position: relative;
	margin: 0px;
	text-align: center;
	background: url('../img/background.jpg');
	background-size: cover;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-ms-transform: skew(20deg);
	-o-transform: skew(20deg);
	transform: skew(20deg);
	border: black 5px solid;
	overflow: hidden;
	display: block;
}
.scene{
	margin: 1%;
}
#banner img {
	position: relative;
	width: 80%;
	top: 4%;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-ms-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	transform: skew(-20deg);
}
#content {
	margin-top: 250px;
	position: relative;
	width: 80%;
	background: white;
	text-align: center;
	left: 10%;
}
.product{
	width: 250px;
	text-align: center;
	display: inline-table;
	margin: 5px;
	padding: 10px;
	margin-bottom: 0px;
}
.product img{
	width: 200px;	
}
.product p{
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
}
.product button {
	padding: 10px;
	margin: 10px;
	background: transparent;
	border: black 1px solid;
	font-family: 'Oswald', sans-serif;
}
.product button:hover{
	outline: none;
	background: black;
	color: white;
	border: white 1px solid;
}
.product button:focus{
	outline: none;
	background: black;
	color: white;
	border: white 1px solid;
}
#menu2 {
	z-index: 150;
	position: fixed;
	height: 100%;
	width: 100%;
}
#menu2 #closeMenudiv{
	position: absolute;
	background: rgba(24,24,24,0.3);
	width: 80%;
	height: 100%;
}
#menu2 ul{
	list-style: none;
	position: absolute;
	width: 20%;
	background: #181818;
	height: 100%;
	left: 100%;
	transform: translateX(-100%);
	margin: 0;
	padding: 0;
	overflow: inherit;
}
#menu2 ul li a{
	padding: 10%;
	color: white;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	display: block;
	font-size: 125%;
	text-align: center;
}
#menu2 ul .closeMenu{
	padding: 10%;
	color: white;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	display: block;
	font-size: 125%;
	text-align: center;
}
#menu2 ul li:hover {
	background: #141414;
	font-weight: bold;
	padding-right: 5%;
	cursor: pointer;
}
.men{
	cursor: pointer;
}
#chaticon{
	z-index: 100;
	width: 75px;
	position: fixed;
	left: 90%;
	transform: translateX(-100%);
	top: 90%;
	transform: translateY(-100%);
	height: 75px;
	background: white;
	text-align: center;
	border-radius: 100%;
	border: 3px black solid;
}
#chaticon:hover {
	cursor: pointer;
	background: #181818;
}
#chaticon img {
	width: 70%;
	top: 15%;
	position: relative;
}
#chat{
	font-family: 'Oswald', sans-serif;
	position: fixed;
	height: 100%;
	width: 25%;
	background: white;
	z-index: 150;
	left: 73%;
	border-top-right-radius: 5%;
	border-top-left-radius: 5%;
	border: #e0e0e0 1px solid;
}
#chat #head{
	background: #181818;
	color: white;
	height: 10%;
}
#chat #head label{
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	margin: 20px;
	top: 50%;
	position: relative;
	transform: translateY(-50%);
}
#chat #conversacion{
	top: 10%;
	position: fixed;
	overflow-y: scroll;
	height: 80%;
	width: 100%;
	border-bottom: #e0e0e0 1px solid;
	padding: 10px;
	font-family: 'Oswald', sans-serif;
}
#chat #conversacion .other{
	position: relative;
	background: #e9e9e9;
	padding: 10px;
	font-family: 'Oswald', sans-serif;
	width: 20%;
	margin: 5px;
	border-radius: 50px;
}
#chat #conversacion .own{
	position: relative;
	background: #a5a5a5;
	margin: 5px;
	padding: 10px;
	left: 3%;
	font-family: 'Oswald', sans-serif;
	width: 20%;
	border-radius: 50px;
	text-align: right;
}
#chat #mes{
	position: fixed;
	top: 90%;
	width: 20%;
	height: 10%;
}
#chat form input[type=image]{
	width: 3%;
	margin: 5px;
	top: 0%;
}
#chat form textarea{
	resize: none;
	border:none;
	padding: 3px;
	height: 90%;
	width: 20%;
	position: relative;
	border: #e0e0e0 1px solid;
	font-family: 'Oswald', sans-serif;
}
#chat #closeChat{
	cursor: pointer;
}

#car{
	position: fixed;
	width: 20%;
	height: 100%;
	background: white;
	z-index: 150;
	left: 80%;
	border: #e0e0e0 1px  solid;
	border-radius: 25px;
}
#car #en {
	position: fixed;
	background: #181818;
	color: white;
	height: 10%;
	width: 100%;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	position: relative;
	padding: 8%;
	overflow-y: hidden;
}
#car #en span{
	position: absolute;
	left: 75%;
}
#car #en span:hover{
	cursor: pointer;
}
#car #ped{
	position: fixed;
	width: 100%;
	height: 80%;
	top: 10%;
	background: white;
}
#car button:focus{
	outline: none;
	color: white;
	background: black;
	border: white 1px solid
}
#car button:hover{
	color: white;
	background: black;
	border: white 1px solid
}
#car button{
	position: fixed;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	background: none;
	border: black 1px solid;
	padding: 3px;
	left: 90%;
	transform: translateX(-50%);
	z-index: 300;
}
#car input{
	z-index: 300;;
}
#car #ped .car_product{
	position: relative;
	width: 18%;
	margin: 1%;
	background: #f0f0f0;
	padding: 5px;
	display: block;
}
#car #ped .car_product img {
	width: 40%;
	display: inline;
}
#car #ped .car_product button {
	width: 40%;
	display: inline;
	position: absolute;
	transform: translateX(-100%);
	top: 60%;
}
#car #ped .car_product .info_car{
	width: 50%;
	left: 50%;
	position: absolute;
	top: 5%		
}
header #info_page{
	position: absolute;
	text-align: left;
	padding: 3px;
	width: 10%;
	top: 4%;
}
header #info_page img{
	position: relative;
	width: 25%;
	margin: 2%;
}
#contenido{
	background: #202020;
	width: 80%;
	margin-left: 10%;
	margin-top: 15%;
	overflow: hidden;
	font-family: 'Oswald', sans-serif;
}
#contenido #img{
	position: relative;
	width: 50%; 
	height: 400px;
	overflow: hidden;
}
#contenido #img img{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	height: 400px;
}
#contenido a{
	text-decoration:underline;
	color:blue;
}
#menu_conf{
	height: 100%;
	width: 25%;
	background: #181818;
}
#menu_conf {
	list-style: none;
	font-family: 'Oswald', sans-serif;
	margin: 0;
	padding: 0;
	overflow: inherit;
	color:white;
}
#menu_conf li a {
	color: white;
	/*border-bottom: 1px solid #8597ab;*/
	text-decoration: none;
	padding: 10%;
	display: block;
	font-family: 'Oswald', sans-serif;
	font-size: 125%;
}
#menu_conf li:hover {
	background: #1f1f1f;
	font-weight: bold;
	padding-left: 5%;
}
@keyframes movimiento{
	from{background-position: bottom left;}
	to{background-position: top right;}	
}
table {
	width: 10	0%;
	border-collapse: collapse;
}
th{
	border-collapse: collapse;
}
table td{
	border: black 1px solid;
	padding: 3px;
	border-collapse: collapse;
}
input {
	padding: 5px;
	border:none;
	width: 40%;
	margin: 3%;
	font-family: 'Oswald', sans-serif;
	border-bottom: black 1px solid;
}
input:focus{
	outline: none;
	border-bottom: black 2px solid;
}
input[type=submit]{
	border:1px black solid;
	background: white;
	width: 10%;
}
input[type=submit]:hover{
	border:1px white solid;
	background: black;
	width: 10%;
	color: white
}
input[type=submit]:focus	{
	border:1px white solid;
	background: black;
	width: 10%;
	color: white
}
h1{
	font-family: 'Oswald', sans-serif;
}
::placeholder{
	font-family: 'Oswald', sans-serif;
	color: black;
}
#view tr td{
	border: 0px white solid;
	width: 50%;
}
input[type=radio]{
	width: 5%;
}
form label{
	margin:5px;
}

/*ESTILOS AÑADIDOS*/

input[type="button"] {
	padding: 10px;
	margin: 10px;
	background: transparent;
	border: black 1px solid;
	font-family: 'Oswald', sans-serif;
}
input[type="button"]:hover{
	outline: none;
	background: black;
	color: white;
	border: white 1px solid;
}

/*RAQUEL*/

.inbox {
	width: 30%;
	height: calc(100% - 60px);
	box-sizing: border-box;
}
.infoChat {
	width: 100%;
	height: 50px;
	background-color: #17206a;
	color: white;
	padding: 10px 15px;
	box-sizing: border-box;
}
.hidden {
	display: none;
	font-size: 13px;
}
.messagesChat {
	width: 100%;
	height: calc(100% - 100px);
	background-color: #ffd2d2;
	overflow-y: scroll;
}
.user {
	width: 70%;
	padding: 15px;
	background-color: black;
	color: white;
	float: right;
	margin: 5px;
	border-radius: 15px;
}
.receiver {
	width: 70%;
	padding: 15px;
	background-color: #9b9b9b;
	float: left;
	margin: 5px;
	border-radius: 15px;
}
.receiver:hover .hidden {
	display: block;
}
.user:hover .hidden {
	display:block;
}
.newMessage {
	width: 100%;
	height: 50px;
	padding: 5px 10px;
	box-sizing: border-box;
}
.newMessage textarea {
	width: 100%;
	border-style: none;
	padding: 10px 15px;
	border-radius: 10px;
}
.newMessage input[type="button"] {
	width: 70px;
	border-style: none;
	padding: 10px 15px;
	border-radius: 10px;
}
.newMessage input[type="button"]:hover {
	cursor: pointer;
	background-color: #494e6d;
	color: white;
}