<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>Index</servlet-name>
		<servlet-class>info.Index</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Us</servlet-name>
		<servlet-class>info.Us</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Us</servlet-name>
		<url-pattern>/us</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Contact</servlet-name>
		<servlet-class>info.Contact</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Contact</servlet-name>
		<url-pattern>/contact</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Conf</servlet-name>
		<servlet-class>info.Conf</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Conf</servlet-name>
		<url-pattern>/conf</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RolIndex</servlet-name>
		<servlet-class>controllers.roles.IndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RolIndex</servlet-name>
		<url-pattern>/roles</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RolAdd</servlet-name>
		<servlet-class>controllers.roles.AddController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RolAdd</servlet-name>
		<url-pattern>/roles/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RoleView</servlet-name>
		<servlet-class>controllers.roles.ViewController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoleView</servlet-name>
		<url-pattern>/roles/view</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RoleDelete</servlet-name>
		<servlet-class>controllers.roles.DeleteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoleDelete</servlet-name>
		<url-pattern>/roles/delete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ResourcesIndex</servlet-name>
		<servlet-class>controllers.resources.IndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourcesIndex</servlet-name>
		<url-pattern>/resources</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ResourcesAdd</servlet-name>
		<servlet-class>controllers.resources.AddController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourcesAdd</servlet-name>
		<url-pattern>/resources/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ResourcesView</servlet-name>
		<servlet-class>controllers.resources.ViewController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourcesView</servlet-name>
		<url-pattern>/resources/view</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ResourcesDelete</servlet-name>
		<servlet-class>controllers.resources.DeleteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourcesDelete</servlet-name>
		<url-pattern>/resources/delete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AccessAdd</servlet-name>
		<servlet-class>controllers.access.AddController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessAdd</servlet-name>
		<url-pattern>/access/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AccessView</servlet-name>
		<servlet-class>controllers.access.ViewController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessView</servlet-name>
		<url-pattern>/access/view</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AccessEdit</servlet-name>
		<servlet-class>controllers.access.EditController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessEdit</servlet-name>
		<url-pattern>/access/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AccessDelete</servlet-name>
		<servlet-class>controllers.access.DeleteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessDelete</servlet-name>
		<url-pattern>/access/delete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AccessIndex</servlet-name>
		<servlet-class>controllers.access.IndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessIndex</servlet-name>
		<url-pattern>/access</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserIndex</servlet-name>
		<servlet-class>controllers.users.IndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserIndex</servlet-name>
		<url-pattern>/users</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserAdd</servlet-name>
		<servlet-class>controllers.users.AddController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserAdd</servlet-name>
		<url-pattern>/users/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserView</servlet-name>
		<servlet-class>controllers.users.ViewController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserView</servlet-name>
		<url-pattern>/users/view</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserEdit</servlet-name>
		<servlet-class>controllers.users.EditController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserEdit</servlet-name>
		<url-pattern>/users/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserDelete</servlet-name>
		<servlet-class>controllers.users.DeleteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserDelete</servlet-name>
		<url-pattern>/users/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserRegister</servlet-name>
		<servlet-class>controllers.users.RegisterController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRegister</servlet-name>
		<url-pattern>/users/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserLogout</servlet-name>
		<servlet-class>controllers.users.LogOutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserLogout</servlet-name>
		<url-pattern>/users/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserLogin</servlet-name>
		<servlet-class>controllers.users.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserLogin</servlet-name>
		<url-pattern>/users/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LaTorre1</servlet-name>
		<servlet-class>pw2.LaTorre1Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LaTorre1</servlet-name>
		<url-pattern>/latorre1</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProductsIndex</servlet-name>
		<servlet-class>controllers.products.ProductIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductsIndex</servlet-name>
		<url-pattern>/products</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProductsEdit</servlet-name>
		<servlet-class>controllers.products.ProductEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductsEdit</servlet-name>
		<url-pattern>/products/edit</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProductsAdd</servlet-name>
		<servlet-class>controllers.products.ProductAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductsAdd</servlet-name>
		<url-pattern>/products/add</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProductsRemove</servlet-name>
		<servlet-class>controllers.products.ProductRemove</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductsRemove</servlet-name>
		<url-pattern>/products/remove</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Car</servlet-name>
		<servlet-class>controllers.products.Car</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Car</servlet-name>
		<url-pattern>/car</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CorreoP</servlet-name>
		<servlet-class>controllers.access.CorreoP</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CorreoP</servlet-name>
		<url-pattern>/correoP</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MessageAdd</servlet-name>
		<servlet-class>controllers.messages.MessagesControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageAdd</servlet-name>
		<url-pattern>/messages/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MessageIndex</servlet-name>
		<servlet-class>controllers.messages.MessagesControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageIndex</servlet-name>
		<url-pattern>/messages</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MessageView</servlet-name>
		<servlet-class>controllers.messages.MessagesControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageView</servlet-name>
		<url-pattern>/messages/view</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MessageDelete</servlet-name>
		<servlet-class>controllers.messages.MessagesControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageDelete</servlet-name>
		<url-pattern>/messages/delete</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
